.cardContainer{
    width: 325px;
    height: 230px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.img{
    padding: 10px;
    max-width: 60px;
    max-height: 30px;
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.title{
    padding: 10px;
}
.reportsheet{
    width: 330px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 28px;
    background-color: gray;
    border: solid 2px black;
}
.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.close{
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    text-decoration: none;
    border: none;
    cursor: pointer;
}