.cardContainer{
    width: 331px;
    height: 234px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.image2{
    max-width: 43px;
    height: 43px;
    padding: 10px;
}
.image{
    max-width: 320px;
    max-height: 120px;
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.title{
    padding: 10px;
}